#atributos {
  display: flex;
  justify-content: center;
  padding: 4% 15%;
  height: 90vh;
  align-items: center;
  & .att-list {
    list-style: none;
    & .att-item {
      display: flex;
      /* justify-content: space-between; */
      & .att-icon {
        display: flex;
        align-items: center;
        font-size: 4rem;
        margin-right: 10%;
        width: 4rem;
      }
      & .att-description {
        text-align: justify;
      }
    }
  }
}